@use '../utils/' as utils;

.button {
  border: 0;
  padding: .5em;
  background-color: var(--color-buttons);
  color: var(--color-text);
  border-radius: 5px;
  cursor: pointer;
  font-size: 0.75rem;

  @include utils.breakpoint(medium) {
    font-size: 1rem;
  }
}

.button__icon {
  & img {
    width: 16px;
    height: 18px;
  }

  &:hover {
    opacity: 0.85;
    background-color: rgb(90, 95, 114);
  }
}




// Special or specific buttons
.button__icon,
.button__user {
  font-size: 1rem;
  max-width: 2.15em;
}

.button__user {
  padding: 0;
}
