.button {
  border: 0;
  padding: .5em;
  background-color: var(--color-buttons);
  color: var(--color-text);
  border-radius: 5px;
  cursor: pointer;
}

.button__icon {
  & img {
    min-width: 10px;
    max-width: 18px;
  }

  &:hover {
    opacity: 0.85;
    background-color: rgb(90, 95, 114);
  }
}


.button__icon,
.button__user {
  max-width: 2.15em;
}

.button__user {
  padding: 0;
}

.button__preview {
  transform: rotate(180deg);
}
