@use '../utils/' as utils;

.footer {
  margin-top: 2em;
  position: relative;

  & .container {
    padding: 0.25em .5em;
    background-color: var(--color-black);

    @include utils.breakpoint(medium) {
      display: none;
    }
  }

  & .tools {
    display: flex;
    align-items: center;
    gap: 0.25em;
    visibility: hidden;
    opacity: 0;
    transition: all ease-in 250ms;
    padding: 0.25em .5em;
    background-color: var(--color-blue-black);

    @include utils.breakpoint(medium) {
      opacity: 1;
      visibility: visible;
      width: 100%;
      background-color: var(--color-black);
    }

    & button {
      font-size: 0.75rem;
      padding: 0.1em .5em;

      &:hover {
        opacity: 0.85;
        background-color: rgb(90, 95, 114);
      }
    }
  }

  & .tools.active {
    // display: block;
    opacity: 1;
    visibility: visible;
  }

  .button__tools {
    transform: rotate(180deg);
    width: 2.5em;
    max-width: initial;
    height: 1.25em;
    display: flex;
    align-items: center;
    justify-content: center;


    & img {
      width: 13px;
      will-change: transform;
      transition: transform ease-in-out 250ms;
    }
  }

  .button__tools.rotate img {
    transform: rotate(180deg);
  }
}
