@use 'base';
@use 'components';
@use 'utils';


#codepen {
  display: grid;
  // grid-template-rows: auto 1fr 1fr auto;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 11vh 42vh 40vh 6vh;
  min-width: 310px;
  height: 100vh;
}


.pen {
  grid-column: 1 / -1;
}

.code {
  margin-block-end: 0.5em;
  grid-column: 1 / -1;

  @include utils.breakpoint(small) {
    grid-column: 1 / 2;
    grid-row: 2 / 4;
  }

  @include utils.breakpoint(medium) {
    grid-column: 1 / -1;
    grid-row: 2 / 3;
  }
}

.preview {
  grid-column: 1 / -1;
  background-color: white;

  @include utils.breakpoint(small) {
    grid-column: 2 / 3;
    grid-row: 2 / 4;
  }

  @include utils.breakpoint(medium) {
    grid-column: 1 / -1;
    grid-row: 3 / 4;
  }

  & iframe {
    width: 100%;
    height: 100%;
  }
}

.footer {
  grid-column: 1 / -1;
}
